p{
    margin: 10px;
}
/* tamaño de la caja imaginaria entre un elemento y otro */


p{
    border: 4px solid coral;
}
/* hacer visible el borde de la caja */


p{

    padding: 10px;
}

/* el espacio que se encuentra entre el borde y el contenido */


*{
    padding: 0px;
    margin: 0px;
}
/* resetear el padding y margin para no tener problemas */



div{
    display: block;  /* en bloque */
    display: inline; /* en linea */
    display: inline-block; /* puedo definir que se pongan uno al lado del otro y te permite modificar el alto y ancho  */
    display: none; /* se va el elemento */
}
/* cambiar de como se comportan las etiquetas cambiando el display  */

div{

    position: relative; /* el elemento cambia de lugar relativamente a la caja del padre */              
    top: 10px;

    position: absolute; /* se rompe el flujo normal de html /* SE UBICA DEPENDIENTE AL BODY */
    bottom: 10px; /* en este caso se ubica  */

    position: fixed; /* SIMILAR A ABSOLUTO */ /* SE UBICA SEGUN EL VIEWPORT (PANTALLA DEL USUARIO) */ /* QUEDA FIJA EN DONDE LO PONGAS */

    position: sticky; /* SE PEGA AL VIEWPORT */ /* ES PARA HACER PARA QUE CUANDO HACES UN SCROLL PARA ABAJO SE PEGUE EL CONTENEDOR ARRIBA */
    top: 1px; /* se pone en conjunto con esto para decirle cuanto quiero que se pegue */
}
