#padre{
    background-color: red;
    height: 700px;
    
    /* todo esto se lo pongo al contenedor padre */
    display: flex; /* al poner display flex se me pone uno al lado del otro (una fila)  y no se rompe visualmente y se pueden poner pixeles*/
     
    
    flex-direction: row; /* fila *//* poder cambiar de como acomodar como una fila o una columbna */
    flex-direction: column; /* columna */
    flex-direction: column-reverse; /* columna en reversa y en espejo */
    flex-direction: row-reverse; /* fila en reversa y en espejo */
    
    flex-wrap: nowrap;/* si hay salto de linea o no */ /* en los anchos absolutos (de pixeles) */
    flex-wrap: nowrap; /* no hay salto de linea (por defecto) */
    flex-wrap: wrap;  /* que tenga salto de linea */
    justify-content:center ; /* alinear (centrar) elementos */ /* depende de flex direction, si esta esta en row alinea en horizontal y si esta en column alinea en vertical */
    justify-content: space-between; /* espacio en el medio entre los elementos */
    justify-content: space-around; /* los elementos tienen margenes derecho e izquierdo y tienen espacio en el medio */
    justify-content: space-evenly; /* lo mismo del de arriba pero este es mas simetrico en los espacios */ 

    align-items:center  ; /* alinea el eje que no está alineando justify content */ /* puedo centrar en el eje y mientras el justify content aline en el eje x */
/* caja flexible */ /* los obliga a poner a todos en una fila */


} 


#hijo_uno{
    background-color: green;
    height: 30%;
    width: 100px;
    order:1 ;  /* cambiar el orden de los elementos sin tener que modificar con */
}

#hijo_dos{
    background-color: blue;
    height: 30%;
    width: 25%;
    order:3 ;  /* cambiar el orden de los elementos sin tener que modificar con */
}

#hijo_tres{
    background-color: yellow;
    height: 30%;
    width: 25%;
    order:2 ;  /* cambiar el orden de los elementos sin tener que modificar con */
}

